<!doctype html>
<html lang="zh-CN">
<head>
{include file="common/meta" /}	
<title></title>
</head>
<body>
{include file="common/top" /}
<div class="pageImg"></div>
<div class="posPage">
	<div class="page"><span>首页</span><span>&#62;</span><span>首页</span></div>
</div>
<div class="content">
	<div class="cLeft">
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
		123123<br>
	</div>
	<div class="cRight">123123</div>	
</div>
<div class="margin20"></div>
<div class="cAd">
	<div class="link">友情链接:</div>
</div>
<!--学科链接开始-->
{include file="common/subject" /}
	<!--学科链接结束-->
{include file="common/footer" /}
	<!--网站底部结束-->
	<!--焦点图Js开始-->
	<script type="text/javascript" src="__js__/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="__js__/HQFn.js"></script>
	<script type="text/javascript" src="__js__/fan.js"></script>
	<!--焦点图Js开始-->
</body>
</html>