<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<title>专业人才库 展示板</title>
<meta name="keywords" content="关键词">
<meta name="description" content="描述">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	管理中心
	<span class="c-gray en">&gt;</span>
	展示板
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
	
{include file="common/js" /}
{include file="common/showLayer" /}
</body>
</html>