<h1>更新说明：</h1>
<p>
	排版很烂，请将就看……<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1531592803231&di=571adadfa0e5f424667159277b575f67&imgtype=0&src=http%3A%2F%2Fimg.mp.sohu.com%2Fupload%2F20170607%2F007e02714f9244489993ed02507dc6bd_th.png" alt="">
</p>
<p>
	这个页面的真实地址: application/manager/view/index/update_description.html
	<br>
	关于后台那个页面的真实地址： application/manager/view/index/aboutme.html
	<br>
	你可以研究研究怎么修改一下。
</p>
<p>
	目前没写功能。慢慢先搭出框架来。
</p>
<p>
	左边的菜单你来规划规划。先看看结构。
</p>
<p>
	该有什么东西，你可以写在这里给我看。
</p>
<p>
	我把框架自带的皮肤去了，我觉得用黑色就可以，符合现在大众需求。
</p>