<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<title>首页</title>
</head>
<body>
<div class="page-container">
	<span style="color: red;">*页面的动态数据和相关调用需要进行开发</span><br>
	<span style="color: red;">*页面等待前端优化和处理</span><br>
	<span style="color: red;">*下面的表格没用可以删掉。</span><br>
	<span style="color: red;">*相关数据库尚未建立，等待规划</span>
	<p class="f-20 text-success">欢迎管理员使用——专业人才库后台！</p>
	<p>
		温馨提示： 数据无价，谨慎操作
	</p>
	<p>登录次数：18 </p>
	<p>本次登录IP：127.0.0.1  本次登录时间：2018-7-13 00:00:00</p>
	<p>上次登录IP：127.0.0.1  上次登录时间：2018-7-13 00:00:00</p>

</div>

{include file="common/js" /}

{include file="common/footer" /}

</body>
</html>