<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<title>轮播图管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理中心 <span class="c-gray en">&gt;</span> 轮播图 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
	<h3>使用轮播图</h3>
	<p>留空</p>
</div>

<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a class="btn btn-primary radius" onclick="showLayer('上传图片','banner_add.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 上传图片</a>
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span>
		<span class="r">共有数据：<strong>1</strong> 条</span>
	</div>
	<div class="portfolio-content">
		<ul class="cl portfolio-area">
			<li class="item">
				<div class="portfoliobox">
					<input class="checkbox" name="" type="checkbox" value="">
					<div class="picbox"><a href="temp/big/weishengjian2.jpg" data-lightbox="gallery" data-title="卫生间2"><img src="temp/Thumb/weishengjian2.jpg"></a></div>
					<div class="textbox">图片1 </div>
				</div>
			</li>
		</ul>
	</div>
</div>

	
{include file="common/js" /}
{include file="common/showLayer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="_framework_/lib/lightbox2/2.8.1/js/lightbox.min.js"></script> 
<script type="text/javascript">
$(function(){
	$(".portfolio-area li").Huihover();
});
</script>

</body>
</html>