<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<title>轮播图管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理中心 <span class="c-gray en">&gt;</span> 轮播图 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
	<h3>放映栏</h3>
	<div class="portfolio-content">
			<ul class="cl portfolio-area">
				<li class="item">
					<div class="portfoliobox">
						<div class="picbox"><a href="javascript: void(0);"><img src="/{$banners[0]}"></a></div>
						<div class="textbox">第一张</div>
					</div>
				</li>
				<li class="item">
					<div class="portfoliobox">
						<div class="picbox"><a href="javascript: void(0);"><img src="/{$banners[1]}"></a></div>
						<div class="textbox">第二张</div>
					</div>
				</li>
				<li class="item">
					<div class="portfoliobox">
						<div class="picbox"><a href="javascript: void(0);"><img src="/{$banners[2]}"></a></div>
						<div class="textbox">第三张</div>
					</div>
				</li>
				<li class="item">
					<div class="portfoliobox">
						<div class="picbox"><a href="javascript: void(0);"><img src="/{$banners[3]}"></a></div>
						<div class="textbox">第四张</div>
					</div>
				</li>
			</ul>
	</div>

</div>
<div class="page-container">
	<h3>轮播图库</h3>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a class="btn btn-primary radius" onclick="showLayer('上传图片','banner_add.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 上传图片</a>
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a href="javascript:;" onclick="checkall()" class="btn btn-warning radius">
				<i class="Hui-iconfont">&#xe60c;</i> 全部选择</a>
			<span>>>>双击图片，为<select name="bannerCol">
				<option value="bannerfirst" seleted="seleted">第一张</option>
				<option value="bannersecond">第二张</option>
				<option value="bannerthird">第三张</option>
				<option value="bannerfourth">第四张</option>
			</select>设置图片</span>
		</span>
		<span class="r">共有图片：<strong>{:count($bannerFiles)}</strong> 张</span>
	</div>
	<div class="portfolio-content">
			<ul class="cl portfolio-area">
				{volist name='bannerFiles' id="bannerFiles"}
				<li class="item">
					<div class="portfoliobox">
						<input class="checkbox" name="file" type="checkbox" value="" data-filename="{$bannerFiles}">
						<div class="picbox"><a href="javascript: void(0);"><img src="/uploadcenter/banner/{$bannerFiles}" data-filename="{$bannerFiles}"></a></div>
						<div class="textbox">轮播图{$bannerFiles}</div>
					</div>
				</li>
			{/volist}
			</ul>

	</div>
</div>

	
{include file="common/js" /}
{include file="common/showLayer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$(".portfolio-area li").Huihover();

	$("img").dblclick(function(){
		$.post(
			"uploadcenter_handle.html",
			{
				types: "addBanner",
				offset: function(){
					return $("select[name='bannerCol']").get(0).selectedIndex;
				},
				filename: $(this).data("filename")

			},

			function(data){
				if(data == "1"){
					layer.msg("提交成功");
				    setTimeout(function(){
				        window.location.reload();
				    },1000); 
				} else if (data == "2"){
					layer.msg("未知的错误");
				} else {
					layer.msg("提交失败");
				}

		});
	});
});


// 全部选择
function checkall()
{
	$("input[name='file']").attr("checked", "true");
	return;
}
// 批量删除
function datadel()
{
	var datas = {};
	datas.types = "delBanner";
	datas.files = function(){
		var str = "";
		$("input[name='file']:checked").each(function(){
			str += $(this).data('filename') + ",";
		});

		return str;
	};

	$.post(
	    'uploadcenter_handle.html',
	    datas,
	    function(data){
	        if(data == "1"){
	        	layer.msg("提交成功");
	            setTimeout(function(){
	                window.location.reload();
	            },1000); 
	        } else if (data == "2"){
	        	layer.msg("未知的错误");
	        } else {
	        	layer.msg("提交失败");
	        }

	});

}

</script>

</body>
</html>