<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>抱歉 页面找不到了</title>
    <link rel="stylesheet" href="404/style.css">
</head>
<body>
  <div class="wrapper">
	<div class="card">
		<div class="card__year">
			404<br />
		</div>
		<div class="card__cometOuter">
			<div class="card__comet"></div>
			<div class="card__comet card__comet--second">
			</div>
		</div>
		<div class="card__circle"></div>
		<div class="card__smallCircle"></div>
		<div class="card__orangeShine"></div>
		<div class="card__greenShine"></div>
		<div class="card__thankyou">
			抱歉<br />页面找不到了!<br />
            <p class="text-info">
                    即将 <a id="href" href="javascript:history.back(-1);">返回首页</a> 等待时间： <b id="wait" style="color:#f00; font-size:20px;">10</b>
                </p>
		</div>
		<div class="card__outer-year">
		</div>
	</div>
</div>
  
    <script src="404/index.js"></script>
    <script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>
</body>
</html>
