<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<title>专业人才库</title>
<meta name="keywords" content="关键词">
<meta name="description" content="描述">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	内容管理
	<span class="c-gray en">&gt;</span>
	内容列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="page-container">
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="60">所属栏目</th>
					<th width="100">内容标题</th>
					<th>内容摘要</th>
					<th width="100">发布日期</th>
					<th width="220">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c va-m">
					<td>1</td>
					<td>机构介绍</td>
					<td>第一篇文章</td>
					<td>Url:xxxx</td>
					<td>2018-10-14</td>
					<td>
						首页置序：<select name="" id="">
							<option value="第一排">第一排</option>
							<option value="第二排">第二排</option>
							<option value="第三排">第三排</option>
							<option value="第四排">第四排</option>

						</select>
						|
						编辑
						|
						删除

					</td>
				</tr>
				<tr class="text-c va-m">
					<td>1</td>
					<td>机构介绍</td>
					<td>第一篇文章</td>
					<td>Url:xxxx</td>
					<td>2018-10-14</td>
					<td>
						首页置序：<select name="" id="">
							<option value="第一排">第一排</option>
							<option value="第二排">第二排</option>
							<option value="第三排">第三排</option>
							<option value="第四排">第四排</option>

						</select>
						|
						编辑
						|
						删除

					</td>
				</tr>
				<tr class="text-c va-m">
					<td>1</td>
					<td>机构介绍</td>
					<td>第一篇文章</td>
					<td>Url:xxxx</td>
					<td>2018-10-14</td>
					<td>
						首页置序：<select name="" id="">
							<option value="第一排">第一排</option>
							<option value="第二排">第二排</option>
							<option value="第三排">第三排</option>
							<option value="第四排">第四排</option>

						</select>
						|
						编辑
						|
						删除

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


{include file="common/js" /}
{include file="common/showLayer" /}
</body>
</html>