<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<title>编辑——{$content['title']}</title>
<!-- 引入 百度编辑器样式 -->
<link href="_UEditor_themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
<!-- 结束 百度编辑器样式 -->
<link href="_framework_/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	内容管理
	<span class="c-gray en">&gt;</span>
	内容编辑
	<span class="c-gray en">&gt;</span>
	{$content['title']}
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="page-container">
	<form class="form form-horizontal" id="form-article-add">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属栏目：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				  <select class="select" size="1" id="column" name="column">
				  	{volist name="colList" id="ctl" key="k"}
				  		<optgroup label="{$ctl['columnname']}"></optgroup>
					    {volist name="colList[$k-1][0]" id="cl"}
					        <option value="{$cl['columnname']}" {if condition="$cl.id = $content.cid"}selected{/if}>┕{$cl['columnname']}</option>
					    {/volist}
				  	{/volist}
				  </select>
				</span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>
				内容标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" id="website-title" placeholder="请填写标题" id="conTitle" name="conTitle" value="{$content['title']}" class="input-text">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">现有缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img src="/{$content['purl']}" alt="[快照加载失败或不存在]" width="340" height="180">

			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">缩略快照：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="hidden" id="conThumbnailUrl" name="conThumbnailUrl" value="">
				<div id="uploader">
				    <div id="fileList" class="uploader-list"></div>
				    <div id="filePicker">覆盖新的缩略图</div>
				</div>
				<div>
					*图片建议大小： 340 x 180 像素;
				</div>
			</div>			
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">编辑内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<!--style给定宽度可以影响编辑器的最终宽度-->
				<script type="text/plain" id="myEditor" style="width:800px;height:500px;">
					{$content['content']}
				</script>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"></label>
			<div class="formControls col-xs-8 col-sm-9">
				<input class="btn btn-primary radius" id="conSubmit" type="button" value="提交编辑">
				
			</div>

		</div>
	</form>
</div>
<div id="ConBox" style="display: none;"></div>

{include file="common/js" /}
<script type="text/javascript" src="_framework_/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" charset="utf-8" src="_UEditor_ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="_UEditor_ueditor.all.js"></script>
<script type="text/javascript" src="_UEditor_lang/zh-cn/zh-cn.js"></script>	
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ua = UE.getEditor('myEditor');
</script>
<script>
$(function(){
	$list = $("#fileList");
	// 初始化Web Uploader
	var uploader = WebUploader.create({

		// 限制大小
	    fileSizeLimit: 2 * 1024 * 1024, // 单个文件限制2M大小
	    fileSingleSizeLimit: 50 * 1024 * 1024,  // 文件总大小限制在50M

	    // 选完文件后，是否自动上传。
	    auto: true,

	    // swf文件路径
		swf: '_framework_lib/webuploader/0.1.5/Uploader.swf',

	    // 文件接收服务端。
		server: '{:url("manager/uploadcenter/addConThumbnail")}',

	    // 选择文件的按钮。可选。
	    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
	    // pick: '#filePicker',
	    pick: {
	                    id: '#filePicker',
	                    multiple:false, 
	                },
	    fileNumLimit: 1,

	    // 只允许选择图片文件。
	    accept: {
	        title: 'Images',
	        extensions: 'gif,jpg,jpeg,bmp,png',
	        mimeTypes: 'image/*'
	    }
	});

	// 当有文件添加进来的时候
	uploader.on( 'fileQueued', function( file ) {
	    var $li = $(
	            '<div id="' + file.id + '" class="file-item thumbnail">' +
	                '<img>' +
	                '<div class="info">' + file.name + '</div>' +
	            '</div>'
	            ),
	        $img = $li.find('img');


	    // $list为容器jQuery实例
	    $list.append( $li );

	    // 创建缩略图
	    // 如果为非图片文件，可以不用调用此方法。
	    // thumbnailWidth x thumbnailHeight 为 100 x 100
	    thumbnailWidth = 110;
	    thumbnailHeight = 110;

	    uploader.makeThumb( file, function( error, src ) {
	        if ( error ) {
	            $img.replaceWith('<span>不能预览</span>');
	            return;
	        }

	        $img.attr( 'src', src );
	    }, thumbnailWidth, thumbnailHeight );
	});

	// 文件上传过程中创建进度条实时显示。
	uploader.on( 'uploadProgress', function( file, percentage ) {
	    var $li = $( '#'+file.id ),
	        $percent = $li.find('.progress span');

	    // 避免重复创建
	    if ( !$percent.length ) {
	        $percent = $('<p class="progress"><span></span></p>')
	                .appendTo( $li )
	                .find('span');
	    }

	    $percent.css( 'width', percentage * 100 + '%' );
	});

	// 文件上传成功，给item添加成功class, 用样式标记上传成功。
	uploader.on( 'uploadSuccess', function( file, response ) {
	    $( '#'+file.id ).addClass('upload-state-done');
	    $("#uploader").html('<img src="/' + response._raw + '" width="340" height="180">');
	    $("#conThumbnailUrl").val(response._raw);
	});

	// 文件上传失败，显示上传出错。
	uploader.on( 'uploadError', function( file ) {
	    var $li = $( '#'+file.id ),
	        $error = $li.find('div.error');

	    // 避免重复创建
	    if ( !$error.length ) {
	        $error = $('<div class="error"></div>').appendTo( $li );
	    }

	    $error.text('上传失败');
	});

	// 完成上传完了，成功或者失败，先删除进度条。
	uploader.on( 'uploadComplete', function(file) {
	    $( '#'+file.id ).find('.progress').remove();
	    $('label:contains("现有缩略图：")').parent().fadeOut();
	    // $("#uploader").html("上传已完成");
	    layer.msg("缩略图已上传！");
	});

	uploader.on('error', function(type){
		if (type == "Q_TYPE_DENIED") {
		    layer.msg("请上传JPG、PNG、GIF、BMP格式文件");
		} else if (type == "Q_EXCEED_SIZE_LIMIT") {
		    layer.msg("文件大小不能超过2M");
		}else {
	        layer.msg("上传出错！请检查后重新上传！错误代码"+type);
		}
	});

});	
</script>

<script>
$(function(){
	$("#conSubmit").click(function(event) {
		/* Act on the event */
		contentSubmit();
	});
});

function contentSubmit(){
    // var url = "{:url('dm/personnels/box1')}";
    var url = "editContent.html";
    var columnVal = $("#column").val();
    var conTitleVal = $("input[name='conTitle']").val();
    var conThumbnailUrlVal = $("input[name='conThumbnailUrl']").val();
    var contentAll = UE.getEditor('myEditor').getContent();

    if(typeof conTitleVal == "undefined" || conTitleVal == null || conTitleVal == ""){
    	layer.msg("内容标题不能为空！");
    	return;
    }

    $.post(
        url,
        {
            type: 'addContent',
            column: columnVal,
            conTitle: conTitleVal,
            conThumbnailUrl: conThumbnailUrlVal,
            contentAll: contentAll
        }, function(data, textStatus, xhr) {
        /*optional stuff to do after success */
        if(data == "1"){
        	layer.msg("提交成功！3秒后刷新！")
        	$("#conSubmit").fadeOut();
            setTimeout(function(){
                window.location.reload();
            },3000); 
        } else if (data == "2"){
        	layer.msg("异常错误！");
        } else {
        	layer.msg("提交失败！");
        }

    });
}
	
</script>

{include file="common/footer" /}


</body>
</html>