<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<title>专业人才库</title>
<meta name="keywords" content="关键词">
<meta name="description" content="描述">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	内容管理
	<span class="c-gray en">&gt;</span>
	查看栏目
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="page-container">
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="60">栏目名称</th>
					<th width="100">父级栏目</th>
				</tr>
			</thead>
			<tbody>
				{volist name="columns" id="cols"}
				<tr class="text-c va-m">
					<td>{$cols.id}</td>
					<td>{$cols.columnname}</td>
					<td>
						{if condition="($cols.pid neq null)"}
							{$columns[$cols.pid - 1]['columnname']}
						{else /}
							* 顶级栏
						{/if}

					</td>

				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>


{include file="common/js" /}
{include file="common/showLayer" /}
{include file="common/footer" /}

</body>
</html>