<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="#">专业人才库——后台操作系统</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="#">专业人才库——后台操作系统</a> <span class="logo navbar-slogan f-l mr-10 hidden-xs">v0.1</span> <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl">
					<li class="dropDown dropDown_hover ">
						<a href="{:url('index/index/index')}" target="_blank">进入前端</a>
					</li>
					<li class="dropDown dropDown_hover ">
						<a href="javascript:;" class="dropDown_A" onclick="show_AboutMe('关于后台', '{:url('manager/index/aboutme')}')"><i class="Hui-iconfont">&#xe600;</i>关于后台</a>
					</li>
					<li>
						<a data-href="{:url('manager/index/update_description')}" data-title="更新说明" onClick="Hui_admin_tab(this)">更新说明</a>
					</li>
				</ul>
			</nav>
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
				<ul class="cl">
					<li>超级管理员</li>
					<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">admin<i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="#">个人信息</a></li>
							<li><a href="#">切换账户</a></li>
							<li><a href="#">退出</a></li>
						</ul>
					</li>
					<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
				</ul>
			</nav>
		</div>
	</div>
</header>