<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-main">
			<dt><i class="Hui-iconfont">&#xe616;</i> 管理中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="https://www.baidu.com/s?word=专业人才库" data-title="百度一下" href="javascript:void(0)">问问度娘</a></li>
					<li><a data-href="{:url('index/index/index')}" data-title="浏览前端" href="javascript:void(0)">浏览前端</a></li>
					<li><a data-href="{:url('manager/banner/index')}" data-title="浏览前端" href="javascript:void(0)">轮播图</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-info">
			<dt><i class="Hui-iconfont">&#xe616;</i> 信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="https://www.baidu.com" data-title="标题管理" href="javascript:void(0)">标题管理</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-info">
			<dt><i class="Hui-iconfont">&#xe616;</i> 其他菜单<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="https://www.baidu.com" data-title="恩恩恩恩" href="javascript:void(0)">菜单菜单</a></li>
				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>