<!doctype html>
<html lang="zh-CN">
<head>
{include file="common/meta" /}	
<title>{$indexTitle}</title>
</head>
<body>
{include file="common/top" /}
	<!--焦点图开始-->
	<div class="index-banner">
		<div class="head-login">
			<div class="login-right">
				<div class="fan0508-hdnav">
					<ul>
						<li class="on">帐号登陆</li>
						<li class="last-li">证书查询</li>
					</ul>
				</div>
				<div class="fan0508-bdnav">
					<div class="regist-ul" id="reg">
						<form action="javascript: void(0);" method="post" name="" target="_self">
							<ul>
								<li>
									<input class="telinput" type="" placeholder="">
								</li>
								<li>
									<input class="codenput" type="password" placeholder=""></li>
							</ul>
							<p class="clear"></p>
							<input type="submit" class="openAccount-down" value="登陆" style="margin-right: 15px;">
							<a href="javascript: void(0);" class="openAccount-down" id="Right">注册</a>
						</form>
					</div>
					<div class="regist-ul" id="SYreg" style="display:none">
						<form action="javascript: void(0);" method="post" name="" target="_self">
							<ul>
								<li>
									<input class="search" type="" placeholder="">
								</li>
							</ul>
							<p class="clear"></p>
							<input type="submit" class="openAccount-down" value="查询">
							<p class="searchMore"> <a href="javascript: void(0);">更多查询</a></p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="hd">
			<ul class="num">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="bd">
			<ul class="pic" >
				<li> <a href="javascript: void(0);"><img src="{$banners[0]}" width="1200" height="280" alt="" /></a></li>
				<li> <a href="javascript: void(0);"><img src="{$banners[1]}"  width="1200" height="280" alt="" /></a></li>
				<li> <a href="javascript: void(0);"><img src="{$banners[2]}"  width="1200" height="280" alt="" /></a></li>
				<li> <a href="javascript: void(0);"><img src="{$banners[3]}"  width="1200" height="280" alt="" /></a></li>
			</ul>
		</div>
		<div class="pnBtn prev"> <span class="blackBg"></span> <a class="arrow" href="javascript:void(0)"></a> </div>
		<div class="pnBtn next"> <span class="blackBg"></span> <a class="arrow" href="javascript:void(0)"></a> </div>
	</div>
	<!--焦点图结束-->
	
<div class="wrap">
	<div class="layerRight">
		<div class="regLaye">
			<p>用户注册</p>
			<div class="regImg"></div>
			<div class="reg_div">
				<ul class="reg_ul">
					<li>
						<span>用户名：</span>
						<input type="text" name="username" value="" placeholder="4-24位用户名" class="reg_user">
						<span class="tip user_hint"></span>
					</li>
					<li>
						<span>密码：</span>
						<input type="password" name="password" value="" placeholder="6-16位密码" class="reg_password">
						<span class="tip password_hint"></span>
					</li>
					<li>
						<span>确认密码：</span>
						<input type="password" name="better" value="" placeholder="确认密码" class="reg_confirm">
						<span class="tip confirm_hint"></span>
					</li>
					<li>
						<span>邮箱：</span>
						<input type="text" name="email" value="" placeholder="邮箱" class="reg_email">
						<span class="tip email_hint"></span>
					</li>
					<li>
						<span>手机号码：</span>
						<input type="text" name="mobile" value="" placeholder="手机号" class="reg_mobile">
						<span class="tip mobile_hint"></span>
					</li>
					<li>
						<a href="javascript: void(0);" class="register" name="button" id="register">注册</a>
						<a href="javascript: void(0);" class="regClose" id="Close">取消</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="layerChild">
		<p class="fs20 center" style="line-height: 60px;">恭喜您﹗注册成功，现在您可以去登陆了﹗</p>
		<p class="fs16 center">该页面将在3秒后自动消失</p>
	</div>
</div>
	
	<!--中部内容开始-->
	<div class="middleDiv">
		<div class="aboutUs">
			<p class="fs24 center rgb900">{$notice->title}</p>
			<p class="fs14 indent rgbaaa" >{$notice->content}</p>
			<div class="buttonDiv">
				<ul>
					<li class="buttonL transition"><a class="fs16 transition" href="javascript: void(0);">了解更多</a></li>
					<li class="buttonR transition"><a class="fs16" href="javascript: void(0);">加入我们</a></li>
				</ul>
			</div>
			<hr>
		</div>
		<div class="aboutUsNum">
			<div class="num">
				<img src="/{$showboard[0]['image']}" alt="">
				<span class="number">{$showboard[0]['value']}</span>
				<p class="fs16">{$showboard[0]['caption']}</p>
			</div>	
			<div class="num">
				<img src="/{$showboard[1]['image']}" alt="">
				<span class="number">{$showboard[1]['value']}</span>
				<p class="fs16">{$showboard[1]['caption']}</p>
			</div>	
			<div class="num">
				<img src="/{$showboard[2]['image']}" alt="">
				<span class="number">{$showboard[2]['value']}</span>
				<p class="fs16">{$showboard[2]['caption']}</p>
			</div>	
			<div class="num">
				<img src="/{$showboard[3]['image']}" alt="">
				<span class="number">{$showboard[3]['value']}</span>
				<p class="fs16">{$showboard[3]['caption']}</p>
			</div>	
		</div>
	</div>
	<!--中心资讯开始-->
	<main class="infoMain infoBg">
		<div class="info">
			<div class="infoTitle center fs24">中心资讯</div>
			<div class="infoWrapper">
                    <a href="javascript: void(0);" class="infoCard">
                        <div class="infoImage">
                            <div class="infoScale infoImg1"></div>
                            <div class="infoImgTitle">科目分析</div>
                        </div>
                        <div class="infoText indent">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
                    </a>
                    <a href="javascript: void(0);" class="infoCard">
                        <div class="infoImage">
                            <div class="infoScale infoImg2"></div>
                            <div class="infoImgTitle">学术指导</div>
                        </div>
                        <div class="infoText indent">半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半</div>
                    </a>
                    <a href="javascript: void(0);" class="infoCard">
                        <div class="infoImage">
                            <div class="infoScale infoImg3"></div>
                            <div class="infoImgTitle">就业点评</div>
                        </div>
                        <div class="infoText indent">踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩</div>
                    </a>
                </div>
		</div>
	</main>
	<!--中心资讯结束-->
	<!--新闻内容开始-->
	<div class="news">
		<div class="newsInfo">
			<div class="newsTitle center fs24">新闻资讯</div>
			<div class="newsList">
				<div class="item">
					<div class="itemTitle fs20 rgb888"><a href="javascript: void(0);">通知公告</a></div>
					<dl class="itemList">
						<dt><a href="javascript: void(0);"><img src="__images__/new1.jpg" alt=""><span>习大大最近发表演讲</span></a></dt>
						<dd><a href="javascript: void(0);">[机构公告]人才库网址更新</a></dd>
						<dd><a href="javascript: void(0);">[机构公告]公众平台全新服务</a></dd>
						<dd><a href="javascript: void(0);">[培训招生]2018.9月最新专业全面招生</a></dd>
					</dl>
					<a href="javascript: void(0);" class="more">查看更多</a>
				</div>
				<div class="item">
					<div class="itemTitle fs20 rgb888"><a href="javascript: void(0);">资讯聚焦</a></div>
					<dl class="itemList">
						<dt><a href="javascript: void(0);"><img src="__images__/new2.jpg" alt=""><span>国家首届XXX会议在某大学</span></a></dt>
						<dd><a href="javascript: void(0);">[中心要闻]我是第一条新闻</a></dd>
						<dd><a href="javascript: void(0);">[最新资讯]这里是第二条新闻</a></dd>
						<dd><a href="javascript: void(0);">[视频看点]还有第三条新闻在这里</a></dd>
					</dl>
					<a href="javascript: void(0);" class="more">查看更多</a>
				</div>
				<div class="item">
					<div class="itemTitle fs20 rgb888"><a href="javascript: void(0);">政策法规</a></div>
					<dl class="itemList">
						<dt><a href="javascript: void(0);"><img src="__images__/new3.jpg" alt=""><span>最新XXX政策出台</span></a></dt>
						<dd><a href="javascript: void(0);">[国家政策]某某某政策出台</a></dd>
						<dd><a href="javascript: void(0);">[部委法规]再也不能这样做了</a></dd>
						<dd><a href="javascript: void(0);">[中心规章]不知道写啥了 哈哈哈</a></dd>
					</dl>
					<a href="javascript: void(0);" class="more">查看更多</a>
				</div>
			</div>
		</div>
	</div>
	<!--新闻内容结束-->
	<!--中部内容结束-->
	<!--学科链接开始-->
	<div class="subject subjectBg"><div class="subgectTitle center fs24">专业项目</div></div>
	{include file="common/subject" /}
	<!--学科链接结束-->
	<!--网站底部开始-->
	{include file="common/footer" /}
	<!--网站底部结束-->
	<!--焦点图Js开始-->
	<script type="text/javascript" src="__js__/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="__js__/HQFn.js"></script>
	<script type="text/javascript" src="__js__/fan.js"></script>
	<script type="text/javascript" src="__js__/mSlider.min.js"></script>
	<script type="text/javascript" src="__js__/register.js"></script>
	<!--焦点图Js开始-->
	{$port_Manager}
</body>
</html>