<!doctype html>
<html lang="zh-CN">
<head>
{include file="common/meta" /}	
<title>{$indexTitle}</title>
</head>
<body>
{include file="common/top" /}
	<!--焦点图开始-->
	<div class="index-banner">
		<div class="head-login">
			<div class="login-right">
				<div class="fan0508-hdnav">
					<ul>
						<li class="on">帐号登陆</li>
						<li class="last-li">证书查询</li>
					</ul>
				</div>
				<div class="fan0508-bdnav">
					<div class="regist-ul" id="reg">
						<form action="#" method="post" name="" target="_self">
							<ul>
								<li>
									<input class="telinput" type="" placeholder="">
								</li>
								<li>
									<input class="codenput" type="password" placeholder=""></li>
							</ul>
							<p class="clear"></p>
							<input type="submit" class="openAccount-down" value="登陆">
						</form>
					</div>
					<div class="regist-ul" id="SYreg" style="display:none">
						<form action="#" method="post" name="" target="_self">
							<ul>
								<li>
									<input class="search" type="" placeholder="">
								</li>
							</ul>
							<p class="clear"></p>
							<input type="submit" class="openAccount-down" value="查询">
							<p class="searchMore"> <a href="#">更多查询</a></p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="hd">
			<ul class="num">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="bd">
			<ul class="pic" >
				<li> <a href="#"><img src="{$banners[0]}" width="1200" height="280" alt="" /></a></li>
				<li> <a href="#"><img src="{$banners[1]}"  width="1200" height="280" alt="" /></a></li>
				<li> <a href="#"><img src="{$banners[2]}"  width="1200" height="280" alt="" /></a></li>
				<li> <a href="#"><img src="{$banners[3]}"  width="1200" height="280" alt="" /></a></li>
			</ul>
		</div>
		<div class="pnBtn prev"> <span class="blackBg"></span> <a class="arrow" href="javascript:void(0)"></a> </div>
		<div class="pnBtn next"> <span class="blackBg"></span> <a class="arrow" href="javascript:void(0)"></a> </div>
	</div>
	<!--焦点图结束-->
	
	<!--中部内容开始-->
	<div class="middleDiv">
		<div class="aboutUs">
			<p class="fs24 conter rgb900">关于人才库</p>
			<p class="fs14 indent rgbaaa" >“专业人才库管理中心”下设24种大类，840种类别专业的人才培养。 目前已成立了易学国学、医疗美容、健康教育、少儿艺术、婴幼儿早期教育、机器人技术、建筑设计国际认证、管理创新教育、在线教育、防水工程、艺术类培训等项目，主要以传承中国优秀传统文化、倡导健康和美化人民生活、提高中国下一代和全民素质、建立和谐社会、鼓励创新创业为主要发展方向，并且设立全国专业人才考评专家委员会和项目专家委员会，以专业化为主导，由行业内最具权威的国内、国外专家进行专业化的指导，树立行业标准，为中国和世界进行人才的交流搭建平台。</p>
			<div class="buttonDiv">
				<ul>
					<li class="buttonL"><a class="fs16" href="#">了解更多</a></li>
					<li class="buttonR"><a class="fs16" href="#">加入我们</a></li>
				</ul>
			</div>
			<hr>
		</div>
		<div class="aboutUsNum">
			<div class="num">
				<img src="__css__/img/Num1.jpg" alt="">
				<span class="number">24</span>
				<p class="fs16">大类</p>
			</div>
			<div class="num">
				<img src="__css__/img/Num2.jpg" alt="">
				<span class="number">840</span>
				<p class="fs16">类别</p>
			</div>
			<div class="num">
				<img src="__css__/img/Num3.jpg" alt="">
				<span class="number">4000</span>
				<p class="fs16">在库人员</p>
			</div>
			<div class="num">
				<img src="__css__/img/Num4.jpg" alt="">
				<span class="number">3900</span>
				<p class="fs16">上岗人员</p>
			</div>			
		</div>
	</div>
	<!--中心资讯开始-->
	<main class="infoMain infoBg">
		<div class="info">
			<div class="infoTitle conter fs24">中心资讯</div>
			<div class="infoWrapper">
                    <a href="#" class="infoCard">
                        <div class="infoImage">
                            <div class="infoScale infoImg1"></div>
                            <div class="infoImgTitle">科目分析</div>
                        </div>
                        <div class="infoText indent">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
                    </a>
                    <a href="#" class="infoCard">
                        <div class="infoImage">
                            <div class="infoScale infoImg2"></div>
                            <div class="infoImgTitle">学术指导</div>
                        </div>
                        <div class="infoText indent">半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半半</div>
                    </a>
                    <a href="#" class="infoCard">
                        <div class="infoImage">
                            <div class="infoScale infoImg3"></div>
                            <div class="infoImgTitle">就业点评</div>
                        </div>
                        <div class="infoText indent">踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩踩</div>
                    </a>
                </div>
		</div>
	</main>
	<!--中心资讯结束-->
	<!--新闻内容开始-->
	<div class="news">
		<div class="newsInfo">
			<div class="newsTitle conter fs24">新闻资讯</div>
			<div class="newsList">
				<div class="item">
					<div class="itemTitle fs20 rgb888"><a href="#">通知公告</a></div>
					<dl class="itemList">
						<dt><a href="#"><img src="__images__/new1.jpg" alt=""><span>习大大最近发表演讲</span></a></dt>
						<dd><a href="#">[机构公告]人才库网址更新</a></dd>
						<dd><a href="#">[机构公告]公众平台全新服务</a></dd>
						<dd><a href="#">[培训招生]2018.9月最新专业全面招生</a></dd>
					</dl>
					<a href="#" class="more">查看更多</a>
				</div>
				<div class="item">
					<div class="itemTitle fs20 rgb888"><a href="#">资讯聚焦</a></div>
					<dl class="itemList">
						<dt><a href="#"><img src="__images__/new2.jpg" alt=""><span>国家首届XXX会议在某大学</span></a></dt>
						<dd><a href="#">[中心要闻]我是第一条新闻</a></dd>
						<dd><a href="#">[最新资讯]这里是第二条新闻</a></dd>
						<dd><a href="#">[视频看点]还有第三条新闻在这里</a></dd>
					</dl>
					<a href="#" class="more">查看更多</a>
				</div>
				<div class="item">
					<div class="itemTitle fs20 rgb888"><a href="#">政策法规</a></div>
					<dl class="itemList">
						<dt><a href="#"><img src="__images__/new3.jpg" alt=""><span>最新XXX政策出台</span></a></dt>
						<dd><a href="#">[国家政策]某某某政策出台</a></dd>
						<dd><a href="#">[部委法规]再也不能这样做了</a></dd>
						<dd><a href="#">[中心规章]不知道写啥了 哈哈哈</a></dd>
					</dl>
					<a href="#" class="more">查看更多</a>
				</div>
			</div>
		</div>
	</div>
	<!--新闻内容结束-->
	<!--中部内容结束-->
	<!--网站底部开始-->
	{include file="common/footer" /}
	<!--网站底部结束-->
	<!--焦点图Js开始-->
	<script type="text/javascript" src="__js__/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="__js__/HQFn.js"></script>
	<script type="text/javascript" src="__js__/fan.js"></script>
	<!--焦点图Js开始-->
	{$port_Manager}
</body>
</html>