	<div class="footer-box">		
		<div class="footer-container">
			<div class="footer-links">
				<dl class="footer-article-item">
					<dt>机构介绍</dt>
					<dd><a href="#">概况</a></dd>
					<dd><a href="#">专家委员</a></dd>
					<dd><a href="#">专业项目</a></dd>
				</dl>
				<dl class="footer-article-item">
					<dt>通知公告</dt>
					<dd><a href="#">机构公告</a></dd>
					<dd><a href="#">培训招生</a></dd>
				</dl>
				<dl class="footer-article-item">
					<dt>资讯聚焦</dt>
					<dd><a href="#">中心要闻</a></dd>
					<dd><a href="#">最新资讯</a></dd>
					<dd><a href="#">视频中心</a></dd>
				</dl>
				<dl class="footer-article-item">
					<dt>政策法规</dt>
					<dd><a href="#">国家政策</a></dd>
					<dd><a href="#">部委法规</a></dd>
					<dd><a href="#">中心规章</a></dd>
				</dl>
				<dl class="footer-contact-item">
					<h3>联系我们</h3>
					<div class="footer-ewm">
						<img src="__images__/code.png" alt="">
						<p>关注微信订阅号</p>
					</div>
				</dl>
			</div>
			<div class="footer-copyright">
				<p>© 2002-2018 中国专业人才库(cnpse.com) 版权所有，并保留所有权利&nbsp;&nbsp;&nbsp;</p>
				<p>
					地址:北京市西城区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话:010-66666666
					<a href="#">
						<img src="__images__/icon-footer.png" alt="">备案号 00046899999xxxx号
					</a>
				</p>
			</div>
		</div>
	</div>
