<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="icon" href="__css__/img/favicon.png" type="image/png">
<link rel="shortcut icon" href="__css__/img/favicon.png" type="image/png">
	
<!--通用css&js开始-->
	<link href="__css__/style.css" rel="stylesheet">
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!--通用css&js结束-->
	
<!--焦点图css开始-->
<link rel="stylesheet" type="text/css" href="__css__/index.css" />
<!--焦点图css结束-->

<meta name="keywords" content="">
<meta name="description" content="">
