
  <link rel="stylesheet" href="__css__/register.css">
  <div class="reg_div">
	  <p>用户注册</p>
    <ul class="reg_ul">
      <li>
          <span>用户名：</span>
          <input type="text" name="" value="" placeholder="4-8位用户名" class="reg_user">
          <span class="tip user_hint"></span>
      </li>
      <li>
          <span>密码：</span>
          <input type="password" name="" value="" placeholder="6-16位密码" class="reg_password">
          <span class="tip password_hint"></span>
      </li>
      <li>
          <span>确认密码：</span>
          <input type="password" name="" value="" placeholder="确认密码" class="reg_confirm">
          <span class="tip confirm_hint"></span>
      </li>
      <li>
          <span>邮箱：</span>
          <input type="text" name="" value="" placeholder="邮箱" class="reg_email">
          <span class="tip email_hint"></span>
      </li>
      <li>
          <span>手机号码：</span>
          <input type="email" name="" value="" placeholder="手机号" class="reg_mobile">
          <span class="tip mobile_hint"></span>
      </li>
      <li>
        <a href="#" class="register" name="button">注册</a>
      </li>
    </ul>
  </div>
  
  <script type="text/javascript" src="__js__/js.js"></script>
