	<!--顶部开始-->
	<div class="topBg transition">
		<div class="footer-friend">
			<div class="footer-friend-title">友情链接：</div>
			<ul class="footer-friend-title-list clearfix">
				<li><a href="javascript: void(0);">中国人才库</a></li>
			</ul>
		</div>
	</div>
	<div class="top transition">
		<div class="topContent">
			<img class="topLogo transition" src="__css__/img/topLogo.png" alt="">
			<div class="topNav transition">
				<ul class="navMarginTop transition">
					<li><a href="/index.html">首页</a></li>
					<li><a href="{:url('index/contentlist/contentlist', ['listType'=>'introduce'])}">机构介绍</a>
						<div class="sNav">
							<p><a href="javascript: void(0);">概况</a></p>
							<p><a href="javascript: void(0);">专家委员</a></p>
							<p><a href="javascript: void(0);">专业项目</a></p>
						</div>
					</li>
					{volist name="topShowCol" id="topShowCols"}
					<li><a href="{:url('index/contentlist/contentlist', ['listType'=>$topShowCols['id']])}">{$topShowCols['columnname']}</a>
						<div class="sNav">
							{volist name="topShowColAll" id="topShowColsA"}
								{if condition="$topShowColsA['pid'] == $topShowCols['id']"}
								<p><a href="{:url('index/contentlist/contentlist', ['listType'=>$topShowColsA['id']])}">{$topShowColsA['columnname']}</a></p>
								{/if}
							{/volist}
						</div>
					</li>
					{/volist}
					<li><a href="javascript: void(0);">证书查询</a></li>
					<li><a href="javascript: void(0);">视频教学</a></li>
					<li><a href="javascript: void(0);">会员中心</a></li>
					<li><a href="javascript: void(0);">加入我们</a></li>
				</ul>
			</div>
		</div>
	</div>
<style>
	li{
		transition:1s;-moz-transition:1s;-webkit-transition:1s;-o-transition:1s;
	}
</style>
	<!--顶部结束-->
