<!DOCTYPE HTML>
<html>
<head>
{include file="common/meta" /}
<link href="_framework_/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<title>后台登录</title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    出错了，
    <a href="javascript:history.back(-1)">返回上一页</a>
  </div>
</div>
<div class="footer">Copyright 中国专业人才库</div>

{include file="common/js" /}
{include file="common/showLayer" /}

</body>
</html>